<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案是由您 Web 專案的發行/封裝處理程序所使用。您可以編輯此 MSBuild 檔案，
以自訂此處理程序的行為。若要深入了解，請造訪 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://busdriver.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>busdriver.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BusDriver</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BusDriver</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=rse90536.database.windows.net;Initial Catalog=rse90536;User ID=rse90536;Password=Rse0790536;Application Name=EntityFramework" Name="Data Source=rse90536.database.windows.net;Initial Catalog=rse90536;User ID=rse90536;Password=Rse0790536;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApplicationSignalr.Models.ApplicationDbContext, WebApplicationSignalr" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="rse90536Entities" Order="3" Enabled="False">
          <Destination Path="Data Source=rse90536.database.windows.net;Initial Catalog=rse90536;User ID=rse90536;Password=Rse0790536;Application Name=EntityFramework" Name="Data Source=rse90536.database.windows.net;Initial Catalog=rse90536;User ID=rse90536;Password=Rse0790536;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApplicationSignalr.Models.rse90536Entities, WebApplicationSignalr" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=rse90536.database.windows.net;Initial Catalog=rse90536;User ID=rse90536;Password=Rse0790536;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)rse90536Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.BusDriver.csdl|res://*/Models.BusDriver.ssdl|res://*/Models.BusDriver.msl;provider=System.Data.SqlClient;provider connection string="Data Source=rse90536.database.windows.net;Initial Catalog=rse90536;User ID=rse90536;Password=Rse0790536;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>